<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.es.estreothaohientruong">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/eslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".UserInterface.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--<meta-data-->
            <!--android:name="AA_DB_NAME"-->
            <!--android:value="sdcard/TTHT/DB/TTHT.s3db" />-->
        <!--<meta-data-->
            <!--android:name="AA_DB_VERSION"-->
            <!--android:value="1" />-->
        <!--<meta-data-->
            <!--android:name="AA_MODELS"-->
            <!--android:value="com.es.estreothaohientruong.Data.SQLiteConnection.D_DVIQLY" />-->
    </application>

</manifest>